*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
  background-image: url('https://bogatyr.club/uploads/posts/2023-02/1677465025_bogatyr-club-p-oblozhki-populyarnikh-igr-fon-pinterest-58.jpg');
 
}
.hom{
  width: 100%;
  height: 170vh;
  display: flex;
  justify-content: center;

}
.kateg{
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.box{
  background-color:  rgba(0, 0, 0, 0.87);
  width: 350px;
  height: 350px;
  margin-left: 150px;
  margin-top: 50px;
  border-radius: 10px;
  border: 1px double red;
}
.box img{
  width: 346px;
  height: 280px;
  border-radius: 10px;
}
h1{
  margin-left: 15px;
  color: #fff;
}
header{
  background-color: rgba(0, 0, 0, 0.712);
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  
}
header img{
  width: 100px;
  margin-top: 10px;
 
}

