* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-image: url("https://top-fon.com/uploads/posts/2023-01/1674878787_top-fon-com-p-fon-dlya-prezentatsii-pro-geroev-115.jpg");
}

header {
  width: 100%;
  height: 9vh;
  background-color: rgba(0, 0, 0, 0.712);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  position: fixed;
}
header img:hover {
  transition: 1.2s;
  transform: rotate(360deg);
}
header input {
  text-decoration: none;
  border: none;
  font-size: 20px;
  background-color: rgba(255, 0, 0, 0.384);
  color: #fff;
  border-radius: 20px;
}
header nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
header img {
  width: 50px;
}
header nav a {
  color: #fff;
  text-decoration: none;
}
header nav a:hover {
  color: red;
}

.home {
  width: 100%;
  height: 130vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home h1 {
  color: #fff;
}
.home .nini {
  width: 400px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.849);
  margin-top: 50px;
  margin-left: 97px;
  border: 1px solid red;
}
.home .nini img {
  width: 390px;
  height: 200px;
}
.home .box {
  width: 600px;
  height: 670px;
  background-color: rgba(0, 0, 0, 0.918);
  padding: 10px;
  margin-top: 100px;
}
.home .box h2 {
  color: #fff;
  font-size: 18px;
  margin-top: 50px;
}

.game {
  width: 100%;
  height: 180vh;
  display: flex;
  justify-content: space-between;
}
.game .gta {
  width: 350px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.87);
  border-radius: 10px;
  overflow: hidden;
}
.game .gta a {
  color: #fff;
  padding: 20px;
  text-decoration: none;
  font-size: 25px;
}
.game .gta img {
  width: 300px;
  height: 200px;
  margin-top: 20px;
  margin-left: 25px;
}
.game .fit {
  width: 350px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.87);
  border-radius: 10px;
  overflow: hidden;
}
.game .fit a {
  color: #fff;
  padding: 20px;
  text-decoration: none;
  font-size: 25px;
}
.game .fit img {
  width: 300px;
  height: 200px;
  margin-top: 20px;
  margin-left: 25px;
}

.boe {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 50px;
  overflow: hidden;
  margin-left: 175px;
  display: grid;
  overflow: hidden;
}
.boe .batl {
  width: 350px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.87);
  border-radius: 10px;
  overflow: hidden;
}
.boe .batl a {
  color: #fff;
  padding: 20px;
  text-decoration: none;
  font-size: 25px;
}
.boe .batl img {
  width: 300px;
  height: 200px;
  margin-top: 20px;
  margin-left: 25px;
}
.boe .portal {
  width: 350px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.87);
  border-radius: 10px;
  overflow: hidden;
}
.boe .portal a {
  color: #fff;
  padding: 20px;
  text-decoration: none;
  font-size: 25px;
}
.boe .portal img {
  width: 300px;
  height: 200px;
  margin-top: 20px;
  margin-left: 25px;
}
.boe .war {
  width: 350px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.87);
  border-radius: 10px;
  overflow: hidden;
}
.boe .war a {
  color: #fff;
  padding: 20px;
  text-decoration: none;
  font-size: 25px;
}
.boe .war img {
  width: 300px;
  height: 200px;
  margin-top: 20px;
  margin-left: 25px;
}
.boe .csg {
  width: 350px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.87);
  border-radius: 10px;
  overflow: hidden;
}
.boe .csg a {
  color: #fff;
  padding: 20px;
  text-decoration: none;
  font-size: 25px;
}
.boe .csg img {
  width: 300px;
  height: 200px;
  margin-top: 20px;
  margin-left: 25px;
}

.boe img:hover {
  transform: scale(1.2);
  transition: 0.5s ease;
}/*# sourceMappingURL=style.css.map */